@font-face {
  font-family: 'FuturaStd-Medium';
  src: url('FuturaStd-Medium.eot');
  src: url('FuturaStd-Medium.woff2') format('woff2'),
       url('FuturaStd-Medium.woff') format('woff'),
       url('FuturaStd-Medium.ttf') format('truetype'),
       url('FuturaStd-Medium.svg#FuturaStd-Medium') format('svg'),
       url('FuturaStd-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

