

<section class="main">
        <ul id="cbp-bislideshow" class="cbp-bislideshow">
            {{ $baseurl := .Site.BaseURL }}
        {{ range .Site.Params.fotos }}<li><img src="{{ $baseurl }}{{ .img }}" alt="{{ .alt }}" />{{ end }}
        </ul>
    
        <div class="logo-content-devices devices">
            <div class="text-center text-shadow">
                <span class="line bg-white">&nbsp;</span><span class="trattoria white">Trattoria</span><span class="line bg-white">&nbsp;</span>
            </div>
            <div class="text-center logo-container">
                <a href="https://www.alcovo.ch" target="_blank"><img src="{{ .Site.BaseURL }}{{ with .Site.Params.logoWhite }}{{ . }}{{ end }}" alt="" class="logo"></a>
            </div>
            <div class="text-center slogan-container">
                <div class="white text-shadow">{{ with .Site.Params.slogan.title2 }}{{ . | markdownify }}{{ end }}</div>
            </div>
        </div>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="logo-content-devices screens">
                    <div class="text-center">
                        <span class="line bg-ocre">&nbsp;</span><span class="trattoria ocre">Trattoria</span><span class="line bg-ocre">&nbsp;</span>
                    </div>
                    <div class="text-center logo-container">
                        <a href="https://www.alcovo.ch" target="_blank"><img src="{{ .Site.BaseURL }}{{ with .Site.Params.logo }}{{ . }}{{ end }}" alt="" class="logo"></a>
                    </div>
                    <div class="text-center slogan-container">
                        <div class="ocre">{{ with .Site.Params.slogan.title2 }}{{ . | markdownify }}{{ end }}</div>
                    </div>
                </div>
                
                <div class="content-subpages">
                    <div id="cbp-bicontrols" class="cbp-bicontrols">
                        <span class="cbp-biprev"></span>
                        <span class="cbp-bipause"></span>
                        <span class="cbp-binext"></span>
                    </div>
                </div>
                
                <div class="subnavi">
                    <ul>
                    {{ $currentNode := . }}
                    {{ range .Site.Menus.main }}
                        {{ range .Children }}
                        <li><a href="{{ .URL }}" class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}">{{ .Name }}</a></li>
                        {{ end }}
                    {{end}}
                    </ul>
                </div>
                
            </div>
        </div>
</section>
