    <!-- jQuery -->
    <script src="{{ .Site.BaseURL }}js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/modernizr.custom.js"></script>
    <!-- Plugin JavaScript -->
    <script src="{{ .Site.BaseURL }}js/scrollreveal.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/jquery.easing.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/jquery.fittext.js"></script>
    <script src="{{ .Site.BaseURL }}js/jquery.magnific-popup.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.BaseURL }}js/creative.js"></script>

  