@font-face {
  font-family: 'FuturaStd-Heavy';
  src: url('FuturaStd-Heavy.eot');
  src: url('FuturaStd-Heavy.woff2') format('woff2'),
       url('FuturaStd-Heavy.woff') format('woff'),
       url('FuturaStd-Heavy.ttf') format('truetype'),
       url('FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg'),
       url('FuturaStd-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

